<div class="container">
    <h2>All events</h2>
    <ul>
        {{#each events}}
        <li>
           <h3>{{eventName}}</h3>
           <a href="/events/{{_id}}/details">Event Details</a>
        </li>
        {{/each}}
    </ul>
</div>