<div class="container">
    <div class="row">

        <div class="col-md-8">

            <h2>Sign up</h2>

            <br>
            <br>

            <form action="/signup" method="POST">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" name="username">
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="userPsw">
                </div>

                <div class="mb-3">
                    <label class="form-label">Profile image</label>
                    <input type="text" class="form-control" name="profileImg">
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="textarea" class="form-control" name="description">
                </div>

                <button type="submit" class="btn btn-primary">Create!</button>
            </form>

        </div>
    </div>
</div>