<div class="row indexView">
    <div class="col-md-6">
        <h1 class="appTitle">{{appTitle}}</h1>

        <div class="d-grid gap-2">
            <button class="btn btn-primary btn-dark" type="button">
                <a href="/signup">I wanna register in this amazing app!</a>
            </button>
            <button class="btn btn-primary btn-dark" type="button">
                <a href="/login">I have account because I'm as amazing as Event-finder-revolution</a>
            </button>
        </div>
    </div>
</div>