<div class="container">
    <h2>All users</h2>
    <ul>
        {{#each users}}
        <li>
            <h3>{{username}}</h3>
            <a href=""></a>
        </li>
        {{/each}}
    </ul>
</div>